<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mry.dao.data1.UserMapper">



   <select id="isExistsUser" parameterType="string" resultType="java.lang.Integer">
   select count(*) from mry_user m where m.username = #{username}
   </select>
   
   <select id="findUser" parameterType="java.util.Map" resultType="com.mry.system.pojo.User">
   select * from mry_user m where m.firstname=#{firstname} and m.email=#{email}
   </select>

	<select id="findByName" parameterType="string"
		resultType="com.mry.system.pojo.User">
	select * from mry_user m where m.login_id = #{login_id}
	</select>


	<insert id="registerUser" parameterType="java.util.Map">
		insert into
		mry_user(login_id,create_time,modify_time,mobile,email,username,firstname,lastname,ext)values(#{login_id},sysdate(),sysdate(),#{mobile},#{email},#{username},#{firstname},#{lastname},#{ext})
	</insert>

</mapper>
